.bannerImage {
    width: 100%;
}

.bannerTitle {
    color: white;
}

.bannerText {
    color: white;
}

.vegacy {
    color: #CF0D0D;
}

.bannerTextContainer {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}